<section class="phx-hero">
  <h1><%= gettext "Welcome to Roshambo!", name: "Roshambo" %></h1>
  <p></p>
</section>

<div class="container phx-hero">
  <a class="button" href="/new">New Game</a>
</div>